body {
  background: lightgrey;
}
body, main { 
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  text-align: center;
}
#departments table{
  margin: 0;
  width: 100%;
}

#employees>table{
  margin: 0;
  width: 100%;


}

#create-employee {
  position: relative;
}

main {
  text-align: center;
}

h5 {
    font-family: Gill Sans Extrabold, sans-serif;
}

.highlight {
    color: darkgreen;
}

.lowlight {
    color: darkred;
}

section, address {
    margin-top: 1.25rem;
}

section>div {
  margin-bottom: 0.5rem;
}

label {
    display: block;
}

